:root {
  --main-color: hsl(179, 62%, 43%);
  --h2-and-button: hsl(71, 73%, 54%);
  --bg-color: hsl(204, 43%, 93%);
  --text-color: #98a7bd;

  --big-text-weight: 700;
  --small-text-weight: 400;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}
body {
  background-color: var(--bg-color);
  padding: 15% 7.5%;
  display: flex;
  flex-flow: column nowrap;
}
article {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.5rem;
  box-shadow: 0 5px 8px 0 hsla(216, 22%, 67%, 0.5);
  margin-bottom: 1rem;
}
.tab {
  padding: 1.5rem 1.3rem;
}
.join {
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}
h1 {
  font-size: 1.3rem;
  font-weight: var(--big-text-weight);
}
.join > h1 {
  color: var(--main-color);
}
h2 {
  font-size: 1rem;
  font-weight: var(--big-text-weight);
  margin-top: 1rem;
  color: var(--h2-and-button);
}
.join > p {
  margin-top: 1rem;
  color: var(--text-color);
  line-height: 1.5rem;
}
.main {
  background-color: var(--main-color);
  color: white;
}
.main > div {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#price {
  font-size: 2rem;
  font-weight: var(--big-text-weight);
  margin-right: 1rem;
}
.main > p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
button {
  position: relative;
  height: 3rem;
  width: 100%;
  background-color: var(--h2-and-button);
  border: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
  box-shadow: 0 5px 8px 0 hsla(0, 0%, 0%, 0.2);
  transition: all 0.2s ease-in-out;
}
.why-us {
  background-color: hsl(179, 47%, 52%);
  color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}
ul {
  margin-top: 1rem;
  list-style-type: none;
  line-height: 1.5rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 64rem) {
  body {
    height: 100vh;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  article {
    width: 45%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "join join"
      "main why-us";
  }
  .tab {
    padding: 2.25rem 2rem;
  }
  .join {
    grid-area: join;
  }
  .join > h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .join > p {
    font-size: 1.1rem;
  }
  .main {
    grid-area: main;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-radius: 0 0 0 0.5rem;
  }
  .main > div {
    margin: 0;
  }
  .main > p {
    margin-top: 0;
  }
  .why-us {
    grid-area: why-us;
    border-radius: 0 0 0.5rem 0;
  }
  button:hover {
    background-color: hsl(71, 100%, 65%);
  }
  button:active {
    top: 2px;
  }
}
